@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-align: center;
  padding: 30px;
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};      
}

[data-loading="true"] {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 0;
        margin-top: -15px;
        margin-left: -15px;
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 3px solid rgba(255,255,255,.3);
        border-radius: 50%;
        border-top-color: #000;
        @include animation(spin 1s ease-in-out infinite);
    }
}

@keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}